<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/system_file.xsd">
    <system>
        <tab id="codealist_base" translate="label" sortOrder="40">
            <label>Codealist</label>
        </tab>
    </system>
</config>